* {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--color-bg-header); 
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

header h1 {
    background-color: var(--color-primary);
    color: var(--color-secundary);
    box-shadow: 10px 5px 5px var(--color-shadow);
    margin-bottom: 30px;
    transform: rotate(0deg);
    transition: .2s ease;
}

header h1:hover{
    transform: rotate(-2deg);
    transition: transform .3s ease;
    box-shadow: 10px 5px 5px var(--color-shadow-hover);
    cursor: pointer;
}

#imgLogo {
    height: 10%;
    width: 10%;
    min-height: 110px;
    min-width: 110px;
}

#form-search {
    display: flex;
}

#search{
    font-size: medium;
    min-height: 35px;
    min-width: 350px;
    height: 100%;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
}

#search:hover {
    background-color: var(--color-search-hover);
    cursor: auto;
}

#btnSearch {
    background-color: var( --color-primary);
    color: var(--color-secundary);
    border-color: var(--color-secundary);
    box-shadow: 10px 5px 5px var(--color-shadow);
    margin-left: 5px;
    min-height: 35px;
    min-width: 100px;
    font-size: medium;
    border-radius: 5px;
}

#btnSearch:hover {
    box-shadow: 10px 5px 5px var(--color-shadow-hover);
    font-weight: bolder;
}

/*Body */
#msgSpanError, #msgSpanNothingFound {
    display: none;
    align-items: center;
    font-size: larger;
    padding-top: 2rem;
    color: var(--color-primary);
}

#result-search {
    list-style-type: none;
    padding: 0;
    margin: 30px auto;
    max-width: 100%;
    width: 600px;
}

#result-search li{
    font-size: large;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    color: var(--color-results-search);
}

#result-search li img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

#result-search li button {
    background-color: var(--color-primary);
    color: var(--color-secundary);
    font-size: medium;
    border-radius: 5px;
    box-shadow: 6px 5px 5px var(--color-shadow-btn-results-search);
}

#result-search li button:hover {
    box-shadow: 10px 5px 5px var(--color-bg-header);
    font-weight: bold;
}




/*_______________smartphone_______________*/
@media(max-width: 770px) {
    #search{
        min-height: 30px;
        min-width: 260px;
        max-height: 100%;
        max-width: 100%;
    }

    #btnSearch {
        min-height: 30px;
        min-width: 70px;
    }
}

