/*Body */

/*Loading */
#spinner {
    border: 8px solid var(--color-search-hover);
    border-left-color: var(--color-primary);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner{
    to {transform: rotate(360deg);}
}

#loading{
    background-color: transparent;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

#loading #msg-spinner {
    padding: 1.5rem;
    color: var(--color-primary);
    font-weight: bold;
}


#msgSpanError, #msgSpanNothingFound, #msgSpanLyricsNotFound {
    display: none;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: larger;
    padding-top: 2rem;
    font-weight: bold;
}

#btnSend {
    font-size: medium; 
    width: 110px;
    height: 40px;
    border: 2px solid var(--color-search-hover);
    box-shadow: 5px 5px 5px var(--color-secundary);
    color: var(--color-bg-body);
    border-radius: 5px;
    margin-top: 1.5rem;
}

#btnSend:hover {
    background-color: var(--color-primary);
    box-shadow: 5px 5px 5px var(--color-primary);
    color: var(--color-secundary);
    font-weight: bolder;
}

#result-search {
    list-style-type: none;
    padding: 0;
    margin: 30px auto;
    max-width: 100%;
    width: 600px;
}

#result-search li{
    font-size: large;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    color: var(--color-results-search);
}

#result-search li img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

#result-search li button {
    background-color: var(--color-primary);
    color: var(--color-secundary);
    font-size: medium;
    border-radius: 5px;
    box-shadow: 6px 5px 5px var(--color-secundary);
}

#result-search li button:hover {
    box-shadow: 10px 5px 5px var(--color-bg-header);
    font-weight: bold;
}

/*section information basic - info-basic*/
#info-basic {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    padding: 1rem;
}

#img-album #img-album-lyrics {
    width: 50%;
    display: flex;
    height: 190px;
    width: 190px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px var(--color-search-hover);
}

#artist-and-title {
    max-width: 600px;
    padding: 2rem;
}

#artist-and-title #infor-title {
    display: flex;
    align-items: center;
    align-content: center;
}

/*Just Lyrics */
#lyric-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#lyric-container #lyric{
    width: 50%;
    height: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/*Lyrics Container */
#lyrics-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

#lyrics-music, #lyrics-translation {
    align-items: center;
    align-content: center;
    margin: 5px;
}

#lyrics-container #lyrics-music #h1-lyrics, #h1-translate{
    font-weight: bolder;
    text-decoration: underline;
    font-size: xx-large;
}

#lyrics-container #lyrics-music {
    width: 50%;
    height: auto;
    align-content: left;
    font-size: smaller;
    margin: 5px;
}

#lyrics-container #lyrics-translation {
    width: 50%;
    height: auto;
    align-content: right;
    font-size: smaller;
    margin: 5px;
}

#lyrics-container #lyrics-translation #h1-translate {
    color: var(--color-search-hover);
}

#lyrics-container #lyrics-translation #p-translate {
    color: var(--color-search-hover);
}


/*smartphone:*/
@media(max-width: 980px) {
    #result-search {
        max-width: 95%;
    }

    #result-search li img {
        height: 80px;
        width: 80px;
    }

    #info-basic{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 2rem;
    }

    #img-album #img-album-lyrics {
        height: 170px;
        width: 170px;
    }

    #artist-and-title {
        width: 90%;
        padding: 1rem;
    }

    #artist-and-title #infor-title {
        display: block;
        align-items: center;
        align-content: center;
        padding: 0;
    }

    #lyrics-container {
        flex-direction: column;
    }

    #lyric-container #lyric{
        width: 100%;
        margin: 0;
    }
    
    #lyrics-container #lyrics-music {
        width: 100%;
        align-content: center;
        align-items: center;
        margin: 0;
    }
    
    #lyrics-container #lyrics-translation {
        width: 100%;
        align-content: center;
        align-items: center;
        margin: 0;
    }  
}