/*Header */

header {
    background-color: var(--color-bg-header);
    background-image: url(../../assets/image/Background/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

header h1 {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    max-width: 600px;
    color: var(--color-secundary);
    text-shadow: 5px 4px 4px var(--color-primary);
    animation: fliptitle 2s;
}

header p {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color: var(--color-search-hover);
}

@keyframes fliptitle {
    from{
        transform: rotateX(80deg);
    }
    
    to{
        transform: rotateX(0deg);
    }
}


#imgLogo {
    height: 10%;
    width: 10%;
    min-height: 120px;
    min-width: 110px;
}

#form-search {
    display: flex;
}

#search{
    font-size: medium;
    min-height: 35px;
    min-width: 350px;
    height: 100%;
    width: 100%;
    border: 2px solid transparent;
    color: var(--color-bg-body);
    border-radius: 5px;
}

#search:hover {
    background-color: var(--color-search-hover);
    cursor: auto;
}

#btnSearch {
    background-color: var( --color-primary);
    color: var(--color-secundary);
    border-color: var(--color-secundary);
    box-shadow: 10px 5px 5px var(--color-secundary);
    margin-left: 5px;
    min-height: 35px;
    min-width: 100px;
    font-size: medium;
    border-radius: 5px;
}

#btnSearch:hover {
    box-shadow: 10px 5px 5px var(--color-primary);
    font-weight: bolder;
    cursor: pointer;
}


/*smartphone:*/
@media(max-width: 980px) {
    #search{
        min-height: 30px;
        min-width: 260px;
        max-height: 100%;
        max-width: 100%;
    }

    #btnSearch {
        min-height: 30px;
        min-width: 70px;
    }
}
