* {
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-bg-body);
}

:root {
  --color-bg-nav: #08090b;
  --color-bg-header: #f13835;
  --color-bg-body: #10161B;
  --color-primary: #ef413e;
  --color-secundary: #f5f5f5;
  --color-shadow-hover: #ffffff;
  --color-search-hover: #c8c3c3;
}
